<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Keyvan Saffar", "http://www.gsaffar.com/", class: "text-white"%></small>
  </div>
</footer>